/*------------ Checkout Page Resposive Styles ------------*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /*--------- Page Header Styles ----------*/
  .header-pagination {
    padding: 0 25px;
  }
  .page-header .header-pagination p {
    margin: 15px 0;
  }
  .page-header .page-header-title h2 {
    font-size: 50px;
  }
  .page-header .page-header-title p {
    font-size: 14px;
  }
  /*--------- Page Header Styles ----------*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /*--------- Page Header Styles ---------*/
  .header-pagination {
    padding: 0 15px;
  }
  .page-header .header-pagination p {
    margin: 10px 0;
  }
  .page-header .header-pagination p a {
    font-size: 12px;
  }
  .page-header .page-header-title h2 {
    font-size: 40px;
  }
  .page-header .page-header-title p {
    font-size: 14px;
  }
  /*--------- Page Header Styles ---------*/
  /*--------- Checkout Billing Styles ---------*/
  .checkout-billing {
    padding: 100px 0;
  }
  .login-msg-inner, .coupon-msg-inner {
    font-size: 14px;
    padding: 30px 40px;
  }
  .login-msg-inner a, .coupon-msg-inner a {
    font-size: 14px;
  }
  /*--------- Checkout Billing Styles ---------*/
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  /*--------- Page Header Styles ---------*/
  .page-header {
    padding: 130px 0 80px 0;
  }
  .header-pagination {
    padding: 0 5px;
  }
  .page-header .header-pagination p {
    margin: 6px 0;
  }
  .page-header .header-pagination p a {
    font-size: 10px;
  }
  .page-header .page-header-title h2 {
    font-size: 35px;
  }
  .page-header .page-header-title p {
    font-size: 12px;
  }
  /*--------- Page Header Styles ---------*/
  /*--------- Checkout Billing Styles ---------*/
  .checkout-billing {
    padding: 60px 0;
  }
  .login-msg-inner, .coupon-msg-inner {
    font-size: 12px;
    padding: 20px 30px;
  }
  .login-msg-inner a, .coupon-msg-inner a {
    font-size: 12px;
  }
  .checkout-billing .billing-details .billing-title h3, .checkout-billing .billing-details .order-title h3 {
    font-size: 25px;
  }
  .checkout-billing .billing-details .shipping-details-title {
    font-size: 25px;
  }
  .checkout-billing .billing-details .order-inner label {
    font-size: 12px;
  }
  /*--------- Checkout Billing Styles ---------*/
}