/*------------ Terms & Conditions Page Resposive Styles ------------*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /*--------- Page Header Styles ----------*/
  .header-pagination {
    padding: 0 25px;
  }
  .page-header .header-pagination p {
    margin: 15px 0;
  }
  .page-header .page-header-title h2 {
    font-size: 50px;
  }
  .page-header .page-header-title p {
    font-size: 14px;
  }
  /*--------- Page Header Styles ----------*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /*--------- Page Header Styles ---------*/
  .header-pagination {
    padding: 0 15px;
  }
  .page-header .header-pagination p {
    margin: 10px 0;
  }
  .page-header .header-pagination p a {
    font-size: 12px;
  }
  .page-header .page-header-title h2 {
    font-size: 40px;
  }
  .page-header .page-header-title p {
    font-size: 14px;
  }
  /*--------- Page Header Styles ---------*/
  /*--------- Terms Styles ---------*/
  .terms .terms-item .terms-item-title h3 {
    font-size: 35px;
  }
  .terms .terms-item .terms-item-details p {
    font-size: 14px;
    word-spacing: 1px;
  }
  /*--------- Terms Styles ---------*/
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  /*--------- Page Header Styles ---------*/
  .page-header {
    padding: 130px 0 80px 0;
  }
  .header-pagination {
    padding: 0 5px;
  }
  .page-header .header-pagination p {
    margin: 6px 0;
  }
  .page-header .header-pagination p a {
    font-size: 10px;
  }
  .page-header .page-header-title h2 {
    font-size: 35px;
  }
  .page-header .page-header-title p {
    font-size: 12px;
  }
  /*--------- Page Header Styles ---------*/
  /*--------- Terms Styles ---------*/
  .terms {
    padding: 60px 0;
  }
  .terms .terms-item .terms-item-title h3 {
    font-size: 30px;
  }
  .terms .terms-item .terms-item-details p {
    font-size: 12px;
    word-spacing: 1px;
  }
  /*--------- Terms Styles ---------*/
}